@import '../../variables.scss';

.featured {
    display: flex;
    flex-direction: column;
    flex: 2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 10px;
    border-radius: 10px;


    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 16px;
            color: $text-color;
        }

        .icon {
            cursor: pointer;
        }
    }

    .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .featuredChart {
            width: 100px;
            height: 100px;
        }

        .title {
            font-weight: 600;
            color: $text-color;
        }

        .amount {
            color: $text-color;
            font-size: 28px;
            font-weight: bold;
        }

        .desc {
            color: $text-color;
            text-align: center;
        }

        .summary {
            display: flex;
            width: 100%;
            justify-content: space-around;

            .item {

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .itemTitle {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 4px;
                    color: $text-color;
                }

                .itemResult {
                    display: flex;
                    align-items: center;

                    &.positive {
                        color: green;
                    }

                    &.negative {
                        color: red;
                    }
                }

            }
        }
    }
}