@import '../../variables.scss';

.navbar {
    height: 50px;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $background-color;

    .wrapper {
        display: flex;
        padding: 20px;
        width: 100%;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;
            border: 1px solid $border-color;

            input {
                border: none;
                background: transparent;
                outline: none;
                padding: 5px;

                &::placeholder {
                    font-size: 12px;
                }
            }

        }

        .items {
            display: flex;

            .item {
                display: flex;
                align-items: center;
                margin-right: 20px;
                position: relative;

                .icon {
                    font-size: 20px;
                    cursor: pointer;
                }

                .avatar {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    border: 1px solid $border-color;
                }

                .counter {
                    width: 15px;
                    height: 15px;
                    background-color: red;
                    font-size: 11px;
                    font-weight: bold;
                    color: white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -1px;
                    right: -5px;

                }
            }
        }
    }



}