@import '../../variables.scss';

.navbar {
    height: 50px;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: center;
    width: 100%;

    .wrapper {
        display: flex;
        padding: 20px;
        width: 100%;
        justify-content: space-between;

        .search {
            display: flex;
            align-items: center;

        }

        .items {
            display: flex;

            .item {
                display: flex;
                align-items: center;
                padding: 5px;

            }
        }
    }



}