@import '../variables';


.app.dark {
    background-color: $background-color-dark;
    color: $text-color-dark;

    .homeContainer {
        background-color: $background-color-dark;
    }

    .chartGrid {
        stroke: rgba(228, 228, 228, 0.219);
    }

    .widget {
        box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;


    }

    .title,
    .counter,
    .link,
    .amount,
    .desc {
        color: $text-color-dark;
    }

    .featured {
        box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;

        .bottom {
            .itemTitle {
                color: $text-color-dark;
            }
        }
    }

    .chart {
        box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;

    }

    h1,
    h2 {
        color: $text-color-dark;
    }

    .table {
        background-color: $background-color-dark;

        .tableCell {
            color: $text-color-dark;
        }
    }

    .navbar {
        color: $text-color-dark;
        border-color: $border-color;
        background-color: $background-color-dark;

        .search {
            border-color: $border-color;
        }
    }

    .sidebar {
        background-color: $background-color-dark;
        border-color: $border-color;

        .top {
            .logo {
                color: $text-color-dark;
            }
        }

        hr {
            border-color: $border-color;
        }

        ul {
            li {
                &:hover {
                    background-color: rgb(70, 70, 70);
                }

                .icon {
                    color: $text-color-dark;
                }
            }
        }

        .title {
            color: $text-color-dark;
        }

        span {
            color: $text-color-dark;

        }
    }

    .listContainer {
        background-color: $background-color-dark;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;


    }

    .dataTable {


        background-color: $background-color-dark;

        .icon {
            color: $text-color-dark;
        }

        .dataGrid {
            color: $text-color-dark;
        }
    }

    .viewButton {
        color: $text-color-dark;
    }

    input {
        background-color: transparent;
        color: $text-color-dark;
    }

    .newContainer {

        .top {

            box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
        }

        .bottom {

            box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
        }
    }

    .singleContainer {

        background-color: $background-color-dark;
        color: $text-color-dark;

        .top {
            background-color: $background-color-dark;

            .left {
                box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;

                .editButton,
                .information {
                    color: $text-color-dark;

                }

            }
        }

        .bottom {
            box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;

            h2 {
                color: $text-color-dark;
            }
        }

    }


    .single .singleContainer .top .left .item .details .detailItem .itemValue {
        color: $text-color-dark;
    }




}