@import '../variables';

.app.dark {
    .home {
        .sidebar {

            background-color: $background-color-dark;

            .top {

                a {
                    text-decoration: none;

                    .logo {

                        color: $text-color-dark;
                    }
                }
            }

            .center {

                a {
                    color: $text-color-dark;
                }

                ul {

                    .title {

                        color: $text-color-dark;
                    }

                    li {
                        &:hover {

                            background-color: rgb(102, 102, 102);
                        }

                        .icon {
                            color: $text-color-dark;
                        }

                        span {

                            color: $text-color-dark;
                        }
                    }
                }
            }
        }

        .homeContainer {

            background-color: $background-color-dark;

            .navbar {

                background-color: $background-color-dark;

                .wrapper {
                    .search {
                        input {

                            color: $text-color-dark;

                            &::placeholder {

                                color: $text-color-dark;

                            }
                        }

                        svg {

                            color: $text-color-dark;

                        }
                    }

                    .items {
                        .item {
                            .icon {

                                cursor: pointer;
                                color: $text-color-dark;

                            }

                            .avatar {

                                border: 1px solid $border-color;
                            }

                            span {
                                color: $text-color-dark;
                            }
                        }
                    }
                }
            }

            .widgets {
                .widget {

                    box-shadow: rgba(255, 255, 255, 0.1) 0 4px 12px;

                    .left,
                    .right {
                        .title {

                            color: $text-color-dark;
                        }

                        .counter {

                            color: $text-color-dark;
                        }

                        .link {

                            color: $text-color-dark;
                        }
                    }

                    .icon {

                        color: $text-color-dark;
                        background-color: rgb(83, 83, 83);
                    }
                }
            }

        }

        .charts {
            .featured {

                box-shadow: rgba(255, 255, 255, 0.1) 0 4px 12px;

                .top {
                    h1 {

                        color: $text-color-dark;
                    }
                }

                .bottom {
                    .title {

                        color: $text-color-dark;
                    }

                    .amount {

                        color: $text-color-dark;
                    }

                    .desc {

                        color: $text-color-dark;
                    }

                    .summary {
                        .item {
                            .itemTitle {

                                color: $text-color-dark;
                            }
                        }
                    }
                }
            }

            .chart {
                box-shadow: rgba(255, 255, 255, 0.1) 0 4px 12px;

                .gridColor {
                    stroke: rgb(95, 95, 95);
                }

                .title {
                    color: $text-color-dark;
                }
            }

        }

        .listContainer {

            box-shadow: rgba(255, 255, 255, 0.1) 0 4px 12px;


            .listTitle {

                color: $text-color-dark;
            }

            .tableWrapper {
                .table {

                    background-color: $background-color-dark;

                    .tableCell {
                        color: $text-color-dark;
                    }

                    .status {

                        &.Approved {
                            color: rgb(1, 240, 1);
                            background-color: rgb(132, 220, 0, 0.4);

                        }

                        &.Cancelled {
                            color: rgb(248, 80, 80);
                            background-color: rgb(252, 157, 157, 0.4);

                        }

                        &.Pending {
                            color: $text-color-dark;


                        }
                    }
                }
            }
        }

    }
}