@import '../../variables';

.dataTable {
    height: 600px;
    padding: 10px;

    .dataTableTitle {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 20px;
        margin-right: 40px;

        h2 {
            color: $text-color;
        }

        a {
            text-decoration: none;
            color: $text-color;

            .icon {
                font-size: 40px;
                margin-left: 10px;
                cursor: pointer;
            }
        }

    }

    .cellWithStatus {
        padding: 5px;

        &.inactive {
            color: rgb(197, 1, 1);
            background-color: rgba(252, 157, 157, 0.4);
            border-radius: 5px;
        }

        &.active {
            color: rgb(2, 120, 2);
            background-color: rgba(132, 220, 0, 0.4);
            border-radius: 5px;
        }
    }

    .cellAction {
        display: flex;
        width: 100%;
        gap: 15px;

        .viewButton {
            border: 1px dotted gray;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;

            &:nth-of-type(2) {
                color: rgba(255, 108, 108, 0.773);
            }
        }


    }
}